PORT = port_number
MONGODB_URI = mongodb_uri
#example: mongodb+srv://username:password@cluster0.ig1pv.mongodb.net
CORS_ORIGIN = *
#currently allowed to all origin
ACCESS_TOKEN_SECRET = access_token_secret
ACCESS_TOKEN_EXPIRY= expiary_time
#example: 12h
REFRESH_TOKEN_SECRET = refresh_token_secret
REFRESH_TOKEN_EXPIRY= 10d

CLOUDINARY_CLOUD_NAME = cloudinary_cloud_name
CLOUDINARY_API_KEY = cloudinary_api_key
CLOUDINARY_API_SECRET = cloudinary_api_secret